version: '3'

services:
  # api_server:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8080:80"
  #   # volumes:
  #   depends_on:
  #     - database
  
  frontend_server:
    image: react_test_server
    build:
      context: client
      dockerfile: Dockerfile
    volumes:
      - ./client:/app
      - ./client/node_modules:/app/node_modules
    ports:
      - '8000:80'
    tty: true
    stdin_open: true
  
  database:
    image: "postgres:15.2"
    restart: always
    environment:
      - POSTGRES_PASSWORD=root
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: