<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify email</title>
  </head>
  <body>
    <h1 style="text-align: center">BookVault</h1>
    <p>
      Click <a href="<%= url %>" target="_blank">here</a> to verify your account
    </p>
  </body>
</html>
